body.overlay-open {
	overflow: hidden;
}

.byb-about-btn {
	@extend %byb-button;
}

.byb-close-btn {
	@extend %byb-button;
	position: absolute;
	top: 20px;
	left: 10px;
}

.about-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	color: #ffffff;
	overflow-y: scroll;
	z-index: map-get($z-index, about);

	&.is-hidden {
		display: none;
	}
}

.overlay-body {
	@include span-columns(12);
	float: none;
	margin: auto;

	text-align: center;

	@include mq(from, xlarge) {
		max-width: 660px;
	}
}

.about-cards {
	@include outer-container;
}

.about-card {
	@include span-columns(12);

	@include mq(between, medium, large) {
		@include span-columns(6);
		@include omega(2n); 		
	}

	@include mq(from, large) {
		@include span-columns(4);
		@include omega(3n); 		
	}
	
	margin-bottom: 20px;
	background-color: $about-card-background;
}

.about-card__content {
	padding: 20px;	
}

.about-card__portfolio {
	width: 100%;
	border-top: 4px solid #000;
	display: block;
	padding: 10px;
}

.about-heading {
	margin: 7%;
}

.about-logo {
	margin-top: 50px;
	margin-bottom: 50px;
}