$icons: (
      sprite: (width: 2226px, height: 1773px, pngPath: '../images/sprite.png', svgPath: '../images/sprite.svg'),
    crown--1: (width: 480px, height: 210px, backgroundX: 0px, backgroundY: -210px),
    crown--10: (width: 480px, height: 210px, backgroundX: -1440px, backgroundY: 0px),
    crown--11: (width: 480px, height: 210px, backgroundX: 0px, backgroundY: -1050px),
    crown--12: (width: 480px, height: 210px, backgroundX: -480px, backgroundY: 0px),
    crown--13: (width: 480px, height: 210px, backgroundX: -480px, backgroundY: -210px),
    crown--14: (width: 480px, height: 210px, backgroundX: 0px, backgroundY: -420px),
    crown--15: (width: 480px, height: 210px, backgroundX: -480px, backgroundY: -420px),
    crown--16: (width: 480px, height: 210px, backgroundX: 0px, backgroundY: -630px),
    crown--17: (width: 480px, height: 210px, backgroundX: -480px, backgroundY: -630px),
    crown--18: (width: 480px, height: 210px, backgroundX: -960px, backgroundY: 0px),
    crown--19: (width: 480px, height: 210px, backgroundX: -960px, backgroundY: -210px),
    crown--2: (width: 480px, height: 210px, backgroundX: -960px, backgroundY: -420px),
    crown--3: (width: 480px, height: 210px, backgroundX: -960px, backgroundY: -630px),
    crown--4: (width: 480px, height: 210px, backgroundX: 0px, backgroundY: -840px),
    crown--5: (width: 480px, height: 210px, backgroundX: -480px, backgroundY: -840px),
    crown--6: (width: 480px, height: 210px, backgroundX: -960px, backgroundY: -840px),
    crown--7: (width: 480px, height: 210px, backgroundX: 0px, backgroundY: 0px),
    crown--8: (width: 480px, height: 210px, backgroundX: -480px, backgroundY: -1050px),
    crown--9: (width: 480px, height: 210px, backgroundX: -960px, backgroundY: -1050px),
    eyes--1: (width: 305.834px, height: 112px, backgroundX: -1440px, backgroundY: -769.082px),
    eyes--10: (width: 305.834px, height: 112px, backgroundX: -1440px, backgroundY: -322px),
    eyes--11: (width: 305.8px, height: 112px, backgroundX: -611.668px, backgroundY: -1260px),
    eyes--12: (width: 305.8px, height: 112px, backgroundX: -917.4680000000001px, backgroundY: -1260px),
    eyes--13: (width: 305.8px, height: 112px, backgroundX: -1223.268px, backgroundY: -1260px),
    eyes--14: (width: 305.8px, height: 112px, backgroundX: -1529.068px, backgroundY: -1260px),
    eyes--15: (width: 305.8px, height: 112px, backgroundX: 0px, backgroundY: -1372px),
    eyes--16: (width: 305.8px, height: 112px, backgroundX: -305.8px, backgroundY: -1372px),
    eyes--17: (width: 305.8px, height: 112px, backgroundX: -611.6px, backgroundY: -1372px),
    eyes--18: (width: 305.8px, height: 112px, backgroundX: -1920px, backgroundY: -1360.9px),
    eyes--19: (width: 305.8px, height: 112px, backgroundX: 0px, backgroundY: -1484px),
    eyes--2: (width: 305.834px, height: 112px, backgroundX: -1440px, backgroundY: -434px),
    eyes--20: (width: 305.834px, height: 111.082px, backgroundX: -1440px, backgroundY: -546px),
    eyes--3: (width: 305.834px, height: 112px, backgroundX: -1440px, backgroundY: -657.082px),
    eyes--4: (width: 305.834px, height: 112px, backgroundX: -1440px, backgroundY: -210px),
    eyes--5: (width: 305.834px, height: 112px, backgroundX: -1440px, backgroundY: -881.082px),
    eyes--6: (width: 305.834px, height: 112px, backgroundX: -1440px, backgroundY: -993.082px),
    eyes--7: (width: 305.834px, height: 112px, backgroundX: -1440px, backgroundY: -1105.0819999999999px),
    eyes--8: (width: 305.834px, height: 112px, backgroundX: 0px, backgroundY: -1260px),
    eyes--9: (width: 305.834px, height: 112px, backgroundX: -305.834px, backgroundY: -1260px),
    mouth--10.new: (width: 305.8px, height: 176.9px, backgroundX: 0px, backgroundY: -1596px),
    mouth--12: (width: 305.8px, height: 176.9px, backgroundX: -305.8px, backgroundY: -1596px),
    mouth--13: (width: 305.8px, height: 176.9px, backgroundX: -611.6px, backgroundY: -1596px),
    mouth--14: (width: 305.8px, height: 176.9px, backgroundX: -917.4000000000001px, backgroundY: -1596px),
    mouth--15: (width: 305.8px, height: 176.9px, backgroundX: -1223.2px, backgroundY: -1596px),
    mouth--16: (width: 305.8px, height: 176.9px, backgroundX: -1529px, backgroundY: -1596px),
    mouth--18: (width: 305.8px, height: 176.9px, backgroundX: -1920px, backgroundY: 0px),
    mouth--19: (width: 305.8px, height: 176.9px, backgroundX: -1920px, backgroundY: -176.9px),
    nose--10.new: (width: 305.8px, height: 111.1px, backgroundX: -1920px, backgroundY: -353.8px),
    nose--12: (width: 305.8px, height: 112px, backgroundX: -1920px, backgroundY: -464.9px),
    nose--13: (width: 305.8px, height: 112px, backgroundX: -1920px, backgroundY: -576.9px),
    nose--14: (width: 305.8px, height: 112px, backgroundX: -1920px, backgroundY: -688.9px),
    nose--15: (width: 305.8px, height: 112px, backgroundX: -1920px, backgroundY: -800.9px),
    nose--16: (width: 305.8px, height: 112px, backgroundX: -1920px, backgroundY: -912.9px),
    nose--17: (width: 305.8px, height: 112px, backgroundX: -1920px, backgroundY: -1024.9px),
    nose--18: (width: 305.8px, height: 112px, backgroundX: -1920px, backgroundY: -1136.9px),
    nose--19: (width: 305.8px, height: 112px, backgroundX: -1920px, backgroundY: -1248.9px),
    nose--20.new: (width: 305.8px, height: 111.1px, backgroundX: -917.4000000000001px, backgroundY: -1372px),
);