.byb-beast {
	max-width: 330px;
	margin: auto;
	position: relative;

	@media (min-height: 701px) {
		max-width: 490px;
	}


	@media (min-height: 901px) {
		max-width: 600px;
	}
}

.byb-face {
	position: absolute;
	top: 0;
	max-width: 100%;

	.active-colour-pink & {
		fill: $colour-pink;
	}

	.active-colour-green & {
		fill: $colour-green;
	}

	.active-colour-red & {
		fill: $colour-red;
	}
}

@each $part in $face-parts {
	.byb-canvas-#{$part}-wrapper {
		width: map-get($max-part-width, #{$part});
		margin: auto;		
	}

	.byb-canvas-#{$part} {
		margin: auto;
		
		@include fluid-image-container(
            map-deep-get($parts, #{$part}, width),
            map-deep-get($parts, #{$part}, height)
        );
		
	}
}
