html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	//padding: 0 $gutter/2;
	background: url('../images/background-small.jpg') #000000 top center / cover no-repeat;

	@include mq(from, large) {
		background-image: url('../images/background-large.jpg');
	}
}

.byb-outside-wrapper {
	width: 100%;
	position: absolute;
}

.byb-background-image {
	position: absolute;
	
	@include mq(upto, large) {
		@include center-crop-absolute();
		height: map-get($background-min-size, small);

	}

	@include mq(from, large) {
		width: 100%;
	}
}


.byb-container {
	margin: auto;

	@include mq(from, xlarge) {
		max-width: 1025px;
	}
}

.active-colour-green {
	.c-tabs-nav__link {
	}
}