html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.byb-logo {
	margin: 1em;
}

.byb-outside-wrapper {
	width: 100%;
	position: absolute;
	display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: 100%;
}

.byb-background-image {
	position: absolute;
	
	@include mq(upto, large) {
		@include center-crop-absolute();
		height: map-get($background-min-size, small);

	}

	@include mq(from, large) {
		width: 100%;
	}
}


.byb-container {
	margin: auto;

	@include mq(from, xlarge) {
		max-width: 1025px;
	}
}

.active-colour-green {
	.c-tabs-nav__link {
	}
}

.byb-canvas {
	display: none;
}

.beast__wrapper {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 70%;
    height: 70%;
    width: 100%;
}