$img-src: '/images/animation/';
$img-ext: '.png';

$yellow: #FBDCA5;

$imgSizes: small medium xlarge;

$bpSizeMap: (
    small: (
        bp: '768px',
        size: '768x1024',
        retina: '1536x2048'
    ),
    medium: (
        bp: '768px',
        size: '1536x2048',
        retina: '1536x2048'
    ),
    large: (
        bp: '976px',
        size: '2048x1331',
    ),
    xlarge: (
        bp: '1024px',
        size: '2048x1331',
        retina: '4096x2662'
    )
);

@mixin animationImages($size, $nr, $color: #000) {
    @if $size == 'small' {
        background-image: url('#{$img-src}#{map-deep-get($bpSizeMap, $size, size)}_#{$nr}#{$img-ext}');
        /* @media (-webkit-min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi) { 
            background-image: url('#{$img-src}#{map-deep-get($bpSizeMap, $size, retina)}_#{$nr}#{$img-ext}');
        } */
    }
    @else {
        @include mq(from, $size) {
            background-image: url('#{$img-src}#{map-deep-get($bpSizeMap, $size, size)}_#{$nr}#{$img-ext}');
            background-size: cover;
        }
    }
    
}

@mixin background($color: #000) {
    background-color: $color;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    right: 0px;
    left: 0px;
    top: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100vh;
}


@keyframes lightening {
    0% {
	    opacity: 0; 
	}
	84% {
		opacity: 0
	}
	
	85%, 90% {
	    opacity: 1; 
	}
	91% {
		opacity: 0;
	}
	
	100% {
	    opacity: 0; 
	} 
}


@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } 
}

.intro-lightning {
    background-color: #000;
}

.intro-lightning .lightening--dark {
    @include background();
    

    @each $size in $imgSizes {
        @include animationImages($size, 1);
    }

    animation: fadeIn 1s forwards;  
    z-index: 9;
}

.intro-lightning .lightening--light-first {
    @include background($yellow);
    

    @each $size in $imgSizes {
        @include animationImages($size, 2);
    }
    animation: lightening 3000ms infinite;
    z-index: 10;
}

.intro-lightning .lightening--light-second {
    @include background($yellow);
    

    @each $size in $imgSizes {
        @include animationImages($size, 3);
    }

    animation: lightening 3000ms infinite;
    animation-delay: 1500ms;
    z-index: 10;
}

.intro-end {
	animation: fadeIn 1s forwards reverse;
	
	.lightening--light-first,
	.lightening--light-second {
		animation: none;
	}

	.lightening--dark  {
		opacity: 0;
	}
} 

.intro-hidden {
	display: none;
}
