$nav-items: "colour" "crown" "eyes" "nose" "mouth" "share";

.c-tabs-nav {
  margin: 0;
  padding: 0;
}

.c-tabs-nav__link {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  transition: color 0.3s;
  flex: 1 1 auto;
  text-transform: uppercase;
  color: map-deep-get($colours, copy, pink);
  background-color: map-deep-get($colours, base, pink);
  margin-right: 1px;

  &:last-child {
    margin-right: 0px;
  }

  .active-colour-green & {
    color: map-deep-get($colours, copy, green);
    background-color: map-deep-get($colours, base, green); 
  }

  .active-colour-red & {
    color: map-deep-get($colours, copy, red);
    background-color: map-deep-get($colours, base, red); 
  }
}


.c-tabs-nav__link:hover {
  color: #6d6d6d;
}

.c-tabs-nav__link.is-active {
  background-color: map-deep-get($colours, base, gray);
  color: #ffffff;
}


/**
 * Tab
 */
.c-tab {
  display: none;
  background-color: #e7e7e7;
}

.c-tab.is-active {
  display: block;
  background-color: map-deep-get($colours, base, gray);
}

.c-tab__content {
  width: 100%;
  height: 100%!important;
}

.c-tab__content-colour {
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: auto;

  @include span-columns(10);
  @include shift(1);

  @include mq(from, medium) {
    @include span-columns(8);
    @include shift(2);
  }

  @include mq(from, large) {
    @include span-columns(6);
    @include shift(3);
  }
}



.nav-tabs {
  margin-top: 3em;
  background-color: map-deep-get($colours, base, gray);
}

.tabs-nav {
  width: 100%;
  display: flex;
}

.tab-content {
  width: 100%;
  overflow: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.tab-content-colour {
  cursor: pointer;
  border: .3em solid map-deep-get($colours, grays, colour-border);

  @include span-columns(3 of 10);
  @include shift(.33);

  @include mq(from, medium) {
    @include span-columns(1.5 of 6);
    @include shift(0.5);
  }
}


.tab-content-colour-block {
  padding-bottom: 100%;
  height: 0;
  position: relative;
  width: 100%;
}

.tabs-nav-icon {
  display: inline;
  max-width: 24px;
  max-height: 24px;
  
  fill: map-deep-get($colours, copy, pink);

  .is-active & {
    fill: #fff;
  }
}

.c-tabs-nav__link {
  span {
    display: none;
  }

  @include mq(from, medium) {
    .tabs-nav-icon {
      display: none;
    }

    span {
      display: inline-block;
    }
  }
}

.slide {
  @include vertical-align();

}
.slide svg {
  margin: auto;
  @include vertical-align();
}

.bx-prev svg{
  transform: rotate(180deg);
}

.bx-viewport {
  height: 160px!important;
  padding-right: 2em;
  padding-left: 2em;
  position: relative;

  &:after,
  &:before {
    background-color:  map-deep-get($colours, base, gray);
    z-index: map-get($z-index, tabs-pagination-bg);
    position: absolute; 
    top: 0;
    width: 2em;
    height: 160px;
    content: '';
  }

  &:after {
    right:0;
  }

  &:before {
    left: 0;
  }
}

.bx-wrapper {
  position: relative;
}
.bx-prev,
.bx-next {
  position: absolute;
  @include vertical-align(absolute);
  z-index: map-get($z-index, tabs-pagination);
  fill: map-deep-get($colours, base, pink);

  .active-colour-green & {
    fill: map-deep-get($colours, base, green); 
  }

  .active-colour-red & {
    fill: map-deep-get($colours, base, red); 
  }
}

.bx-next {
  right: .3em;
}

.bx-prev {
  left: .3em;
}

.tab-content-icon-link {
  display: block;
  height: 100%;
}