%heading-1 {
	@include type-format($type-formatting-h1);
}

%heading-2 {
	@include type-format($type-formatting-h2);
}

%heading-3 {
	@include type-format($type-formatting-h3);
}

%paragraph {
	@include type-format($type-formatting-p);
}

// Sets background image and size with IE fallback
%sprite {
    display: inline-block;
    background-image: url(map-get($sprite, svgPath));
    background-size: map-get($sprite, width) map-get($sprite, height);
}