.byb-share-wrapper {
	@include mq(from, large) {
		@include span-columns(8);
		@include shift(2);
	}

	display: flex!important;
	justify-content: center;
}

.byb-share-btn {
	flex: 0 1 auto;
	display: block;
	@include span-columns(3 of 8);
	padding: .5em;
	text-align: center;
	text-transform: uppercase;

	color: #ffffff;
	background-color: map-deep-get($colours, base, pink);
}

.byb-share-copy {
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	margin-top: 0;
}