$icons: (
      sprite: (width: 72px, height: 48px, pngPath: '../images/sprite.png', svgPath: '../images/sprite.svg'),
    colour: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: 0px),
    crown: (width: 24px, height: 24px, backgroundX: -24px, backgroundY: 0px),
    eye: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -24px),
    mouth: (width: 24px, height: 24px, backgroundX: -24px, backgroundY: -24px),
    nose: (width: 24px, height: 24px, backgroundX: -48px, backgroundY: 0px),
    share: (width: 24px, height: 24px, backgroundX: -48px, backgroundY: -24px),
);