body {
	  -webkit-font-smoothing: antialiased;
	}

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-weight: normal;
	font-family: sans-serif;
	margin: 0;
	text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1, .heading-1 {
	@extend %heading-1;
}

h2, .heading-2 {
	@extend %heading-2;
}

h3, .heading-3 {
	@extend %heading-3;
}

p, .paragraph {
	@extend %paragraph;
	.inverse & {
		color: white;
	}
}