.DS_Store
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
bower_components
src/js/libs/bourbon
src/js/libs/neat
dist
designs
src/svgs
src/svg-min
