<!DOCTYPE html>
<html>
<head>
    <title>Build your beast</title>

    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

     <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>


	
<% _.each(data, function(headSection, index) {  %>
		<%= index %>
		<ul class="nav-tabs">
			<li class="nav-tab tab-<%= index %> <%= index %>"></li>
		</ul>

		<div class="nav-tabs-wrapper <%= index %>">
			<div class="nab-tab-wrapper">
			<% _.each(headSection, function(item, index) {  %>
				<div class="nav-section">
					<%= item.id %>
					<%= item.svg %>
				</div>

				

			<% }); %>
		</div>

<% }); %>






</body>

</html>
