<!-- Modal -->
<div class="about-overlay is-hidden" id="aboutOverlay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="close-btn" type="button" class="byb-close-btn" data-dismiss="modal" aria-label="Close">
          <img src="/images/about-close.png" alt="Close about overlay">
        </button>
      </div>
      <div class="overlay-body">
         <img src="/images/about-logo.png" alt="Build your beast logo" class="about-logo">
        <h2 class="about-heading">The idea</h2>

        <p class="about-copy">
          A place to build your own beast using a collection of gruesome, scary and creepy illustrations. Mix and match each element for the perfect digital mask to trick or treat your friends over social media.
        </p>

        
        <h2 class="about-heading">The team</h2>
        <!-- Loop through each card -->
        <div class="about-cards">
          
            <div class="about-card">
              <div class="about-card__content">
                <img class="about-card__image" src="/images/about/darren.whitney.png" alt="Darren Whitney">
                <p class="about-card__name">Darren Whitney</p>
                <p class="about-card__role">Founder/Lead Designer</p>
              </div>
              <div class="about-car__footer">
                <a href="http://www.darrenwhitney.com/" target="_blank" class="about-card__portfolio">Portfolio</a>
              </div>
            </div>
          
            <div class="about-card">
              <div class="about-card__content">
                <img class="about-card__image" src="/images/about/crayondreamer.png" alt="Cayondreamer">
                <p class="about-card__name">Cayondreamer</p>
                <p class="about-card__role">Character design</p>
              </div>
              <div class="about-car__footer">
                <a href="http://crayondreamer.tumblr.com/" target="_blank" class="about-card__portfolio">Portfolio</a>
              </div>
            </div>
          
            <div class="about-card">
              <div class="about-card__content">
                <img class="about-card__image" src="/images/about/toby.snowdon.png" alt="Toby Snowdon">
                <p class="about-card__name">Toby Snowdon</p>
                <p class="about-card__role">Character design</p>
              </div>
              <div class="about-car__footer">
                <a href="https://society6.com/_tms" target="_blank" class="about-card__portfolio">Portfolio</a>
              </div>
            </div>
          
            <div class="about-card">
              <div class="about-card__content">
                <img class="about-card__image" src="/images/about/tom.addison.png" alt="Tom Addison">
                <p class="about-card__name">Tom Addison</p>
                <p class="about-card__role">Character design</p>
              </div>
              <div class="about-car__footer">
                <a href="http://www.tmaddison.com/" target="_blank" class="about-card__portfolio">Portfolio</a>
              </div>
            </div>
          
            <div class="about-card">
              <div class="about-card__content">
                <img class="about-card__image" src="/images/about/Dines.png" alt="Dines">
                <p class="about-card__name">Dines</p>
                <p class="about-card__role">Character design</p>
              </div>
              <div class="about-car__footer">
                <a href="http://www.studioblup.com/" target="_blank" class="about-card__portfolio">Portfolio</a>
              </div>
            </div>
          
            <div class="about-card">
              <div class="about-card__content">
                <img class="about-card__image" src="/images/about/kerry.png" alt="Kerry Roper">
                <p class="about-card__name">Kerry Roper</p>
                <p class="about-card__role">Character design</p>
              </div>
              <div class="about-car__footer">
                <a href="http://www.kerryroper.com/" target="_blank" class="about-card__portfolio">Portfolio</a>
              </div>
            </div>
          
            <div class="about-card">
              <div class="about-card__content">
                <img class="about-card__image" src="/images/about/rom.brisson.png" alt="Rom Brisson">
                <p class="about-card__name">Rom Brisson</p>
                <p class="about-card__role">Character design</p>
              </div>
              <div class="about-car__footer">
                <a href="http://www.reservoirfrog.com/" target="_blank" class="about-card__portfolio">Portfolio</a>
              </div>
            </div>
          
        </div>

        <h2 class="about-heading">GET INVOLVED</h2>

        <p class="about-copy">
          If you want to submit your own beast illustration you can download the brief and template <a href="https://www.dropbox.com/s/09a4mhscsyzu0jj/brief.zip?dl=0" target="_blank">here</a>.
        </p>

        <p class="about-copy">
          Alternatively get in contact with me <br>
          <a href="mailto:Darren.whitney@me.com">
            Darren.whitney@me.com
          </a>
        </p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>