<!-- Modal -->
<div class="about-overlay is-hidden" id="aboutOverlay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="close-btn" type="button" class="byb-close-btn" data-dismiss="modal" aria-label="Close">
          <img src="/images/about-close.png" alt="Close about overlay">
        </button>
      </div>
      <div class="overlay-body">
         <img src="/images/about-logo.png" alt="Build your beast logo" class="about-logo">
        <h2 class="about-heading">The idea</h2>

        <p class="about-copy">
          A place to build your own beast using a collection of gruesome, scary and creepy illustrations. Mix and match each element for the perfect digital mask to trick or treat your friends over social media.
        </p>

        
        <h2 class="about-heading">The team</h2>
        <!-- Loop through each card -->
        <div class="about-cards">
          <% _.each(data, function(card, index) {  %>
            <div class="about-card">
              <div class="about-card__content">
                <img class="about-card__image" src="<%= card.photoUrl %>" alt="<%= card.name %>">
                <p class="about-card__name"><%= card.name %></p>
                <p class="about-card__role"><%= card.role %></p>
              </div>
              <div class="about-car__footer">
                <a href="<%= card.url %>" class="about-card__portfolio">Portfolio</a>
              </div>
            </div>
          <% }); %>
        </div>

        <h2 class="about-heading">GET INVOLVED</h2>

        <p class="about-copy">
          If you want to submit your own beast illustration you can download the brief and template <a href="https://www.dropbox.com/s/09a4mhscsyzu0jj/brief.zip?dl=0" target="_blank">here</a>.
        </p>

        <p class="about-copy">
          Alternatively get in contact with me <br>
          <a href="mailto:Darren.whitney@me.com">
            Darren.whitney@me.com
          </a>
        </p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>