<!-- @@master = /_master/layouts/master-layout.html-->

<!-- @@block = content-->

	<main class="byb-container beast-wrapper">

		<section class="byb-beast">
			<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 479.5 608" enable-background="new 0 0 479.5 608" xml:space="preserve" class="byb-face">
			<g><path d="M393,456.4c0,84.3-68.3,152.6-152.6,152.6h-0.7C155.3,609,87,540.7,87,456.4V232.6C87,148.3,155.3,80,239.6,80h0.7C324.7,80,393,148.3,393,232.6V456.4z"/></g></svg>
		
			<div class="byb-canvas-crown">
			</div>
			
			<div class="byb-canvas-eyes-wrapper">
				<div class="byb-canvas-eyes">
				</div>
			</div>

		<div class="byb-canvas-nose-wrapper">			
			<div class="byb-canvas-nose">
			</div>
		</div>

		<div class="byb-canvas-mouth-wrapper">
			<div class="byb-canvas-mouth">
				
			</div>
		</div>
		</section>

	</main>


<!-- @@close-->


<!-- @@block = nav-->

	<!-- @@include /_master/globals/nav.html -->

<!-- @@close-->

<!-- @@block = about-->

	<!-- @@include /_master/globals/about.html -->

<!-- @@close-->