<section  id="tabs" class="c-tabs no-js nav-tabs byb-container">
	<div class="c-tabs-nav">
		<!--Nav tabs-->
		<div class="tabs-nav">
			<div class="is-active-overlay"></div>

			<% _.each(['colour', 'crown', 'eyes', 'nose', 'mouth', 'share'], function(name, index) {  %>
				<a href="#" class="c-tabs-nav__link <% if (index == 0) { %> is-active <% } %>  <% if (index == 5) { %> is-deactivated <% } %> tab-link-<%= name %>">
					<svg class="tabs-nav-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#<%= name %>"></use>
                    </svg>
					<span><%= name %></span>
				</a>
			<% }); %>
		</div>


		<div class="tab-content">
			<!-- Tab contents 
				 Colour is first active tab -->
			<div class="c-tab is-fixed-heigh is-active" id="tabs-colour">
			    <div class="c-tab__content c-tab__content--colour"> 
					<div id="pink" class="tab-content-colour colour-pink">
						<div class="tab-content-colour-block"></div>
					</div>

					<div id="green" class="tab-content-colour colour-green">
						<div class="tab-content-colour-block"></div>
					</div>

					<div id="red" class="tab-content-colour colour-red">
						<div class="tab-content-colour-block"></div>
					</div>
			    </div>
			 </div>
			

			<!-- Loop through svgs -->
			<% _.each(data, function(headSvgs, headPart) {  %>
				<div class="c-tab" id="tabs-<%= headPart %>">

					<div id="<%= headPart %>" class="c-tab__content <%= headPart %> slider slider-<%= headPart %>">
					<% _.each(headSvgs, function(item, id) {  %>
						<div class="slide">
							<a id="<%= headPart %>-<%= id %>" href="#" class="<%= headPart %>-<%= id %> tab-content-icon-link">
								<%= item %>
							</a>
						</div>
					<% }); %>
					</div>
				</div>
			<% }); %>

			<!-- Share tab -->
			<div class="c-tab is-fixed-heigh" id="tabs-share">
			    <div class="c-tab__content c-tab__content--share"> 
			    	<p class="byb-share-copy">Share your beast on a friend’s timeline or print to create a mask</p>
			    	
			    	<div class="byb-share-wrapper">
						<a id="facebook" href="#" class="byb-share-btn">Facebook</a>
						<a id="twitter" href="#" class="byb-share-btn">Twitter</a>
						<a href="#" download="build-your-beast.png" id="print" class="byb-share-btn">Print</a>
					</div>
			    </div>
			 </div>
		</div>
	</div>
</section>