<section  id="tabs" class="c-tabs no-js nav-tabs">
<div class="c-tabs-nav">
	<div class="tabs-nav">	
		<a href="#" class="c-tabs-nav__link is-active"></a>
    	
    	<a href="#" class="c-tabs-nav__link"></a>
	</div>


	<div class="c-tab is-active">
	    <div class="c-tab__content"></div>
	  </div>
	
	<div class="c-tab">
	    <div class="c-tab__content"></div>
	</div>

	<% _.each(data, function(headSvgs, headPart) {  %>
			<%= headPart %>
			
				<% _.each(headSvgs, function(item, id) {  %>
						<%= item %>
						<%= id %>
				<% }); %>
	<% }); %>

</div>
</section>