<!DOCTYPE html>
<html>
<head>
    <title>Build your beast</title>

    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

     <link rel="stylesheet" type="text/css" href="css/main.css">

    

</head>
<body>

	<div class="byb-outside-wrapper">
		<!-- <img src="/images/background-image.jpg" class="byb-background-image"> -->
	    <!-- @@placeholder = content -->

	     <!-- @@placeholder = nav -->
	</div>

  <script src="/js/modernizr.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="/js/nav.js" type="text/javascript" charset="utf-8"></script>

    <script>
      var myTabs = window.tabs({
        el: '#tabs',
        tabNavigationLinks: '.c-tabs-nav__link',
        tabContentContainers: '.c-tab'
      });

      myTabs.init();
    </script>
</body>

</html>
