<!DOCTYPE html>
<html>
<head>
    <title>Build your beast</title>

    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

     <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="/js/modernizr.js" type="text/javascript" charset="utf-8" async defer></script>

</head>
<body>

	<div class="byb-outside-wrapper">
		<!-- <img src="/images/background-image.jpg" class="byb-background-image"> -->
	    <!-- @@placeholder = content -->

	     <!-- @@placeholder = nav -->
	</div>
</body>

</html>
