<!DOCTYPE html>
<html>
<head>
    <title>Build your beast</title>
    <!--Facebook meta tags -->
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Trick or Treat" />
    <meta property="og:description"   content="Find out what has been created" />
    <meta property="og:image"         content="/images/trickortreat.png" />

    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/main.css">

    

</head>
<body class="active-colour-pink">

	<div class="byb-outside-wrapper">

    <button type="button" id="about-btn" class="byb-about-btn">
      <img src="/images/logo.png" alt="" class="byb-logo">
    </button>
		<!-- <img src="/images/background-image.jpg" class="byb-background-image"> -->
	    <!-- @@placeholder = content -->

	     <!-- @@placeholder = nav -->
	</div>

    <!-- @@placeholder = about -->
    
  <script src="/js/modernizr.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/jquery.bxSlider.min.js" type="text/javascript" charset="utf-8"></script>

  
    <script src="/js/scripts.js" type="text/javascript" charset="utf-8"></script>

    <script>
      var myTabs = window.tabs({
        el: '#tabs',
        tabNavigationLinks: '.c-tabs-nav__link',
        tabContentContainers: '.c-tab'
      });

      myTabs.init();
    </script>
</body>

</html>
