.10 {
  width: 480px;
  height: 210px;
}
.st0{display:none}
.st1{display:inline;fill:#0e5941}
.st2{clip-path:url(#SVGID_4_);fill:#fcdca4}
.st3{clip-path:url(#SVGID_6_);fill:#d72251}
.st4{clip-path:url(#SVGID_8_);fill:#0c3846}

.11 {
  width: 480px;
  height: 210px;
}

.12 {
  width: 480px;
  height: 210px;
}
.st0{display:none}
.st1{display:inline;fill:#0e5941}
.st2{fill:#fcdca4}
.st3{fill:#0b3746}
.st4{fill:#f0a732}
.st5{fill:none}
.st6{fill-rule:evenodd;clip-rule:evenodd}
.st6,.st7{fill:#0d565f}
.st8{fill:#d72050}
.st9{fill:#d72051}

.13 {
  width: 480px;
  height: 210px;
}
.st0{display:none}
.st1{display:inline;fill:#0e5941}
.st2{fill:#d72050}
.st3{fill:#f0a732}
.st4{fill:#fcdca4}
.st5{fill:#75a08a}

.14 {
  width: 480px;
  height: 210px;
}
.st0{display:none}
.st1{display:inline;fill:#0e5941}
.st2{fill:#f0a732}
.st3{fill:#d72050}
.st4{fill:#fcdca4}

.15 {
  width: 480px;
  height: 210px;
}
.st0{display:none}
.st1{display:inline;fill:#0e5941}
.st2{fill:#fcdca4}
.st3{fill:#0b3746}
.st4{fill:#75a08a}

.16 {
  width: 480px;
  height: 210px;
}
.st0{display:none}
.st1{display:inline;fill:#0e5941}
.st2{fill:#fcdca4}
.st3{fill:#d72050}

.17 {
  width: 480px;
  height: 210px;
}
.st0{display:none}
.st1{display:inline;fill:#0e5941}
.st2{fill:#fcdca4}
.st3{fill:#0b3746}
.st4{fill:#75a08a}

.18 {
  width: 480px;
  height: 210px;
}
.st0{display:none}
.st1{display:inline;fill:#0e5941}
.st2{fill:#0b3746}

.19 {
  width: 480px;
  height: 210px;
}
.st0{display:none}
.st1{display:inline;fill:#0e5941}
.st2{fill:url(#SVGID_1_)}
.st3{fill:#d72050}
.st4{fill:url(#SVGID_2_)}
.st5{fill:#75a08a}
.st6{fill:#fcdca4}
.st7{fill:url(#SVGID_3_)}
.st8{fill:url(#SVGID_4_)}
.st9{fill:url(#SVGID_5_)}
.st10{fill:url(#SVGID_6_)}
.st11{fill:#0b3746}

.2 {
  width: 480px;
  height: 210px;
}

.3 {
  width: 480px;
  height: 210px;
}

.4 {
  width: 480px;
  height: 210px;
}

.5 {
  width: 480px;
  height: 210px;
}

.6 {
  width: 480px;
  height: 210px;
}

.7 {
  width: 480px;
  height: 210px;
}

.8 {
  width: 480px;
  height: 210px;
}

.9 {
  width: 480px;
  height: 210px;
}

.crown-1 {
  width: 480px;
  height: 210px;
}

.1 {
  width: 305px;
  height: 112px;
}

.10 {
  width: 305px;
  height: 112px;
}

.11 {
  width: 305.8px;
  height: 112px;
}
.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#d72050}
.st1{fill:#0b3746}

.12 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#fcdca4}
.st1{fill:#d72050}
.st2{fill:#6b8e7b}
.st3{fill:#f0a732}
.st4{fill:#0b3746}
.st5{fill:#d72051}
.st6{fill:none;stroke:#0b3746;stroke-miterlimit:10}

.13 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#fcdca4}
.st1{fill:#f0a732}

.14 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#f0a732}
.st1{fill:#0b3746}
.st2{fill:#d72050}
.st3{fill:#d72051}

.15 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#fcdca4}
.st1{fill:#75a08a}
.st2{fill:#0b3746}

.16 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#fcdca4}
.st1{fill:#d72050}

.17 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#fcdca4}
.st1{fill:#0b3746}

.18 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#0b3746}
.st1{fill:#f0a732}
.st2{fill:#fcdca4}
.st3{fill:#d72050}
.st4{fill:#75a08a}

.19 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:url(#SVGID_1_)}
.st1{opacity:.6;fill:url(#SVGID_2_)}
.st2{fill:#d72050}
.st3{fill:#fcdca4}
.st4{fill:#75a08a}
.st5{fill:#f0a732}
.st6{opacity:.6;fill:url(#SVGID_3_)}
.st7{fill:#0b3746}

.2 {
  width: 305px;
  height: 112px;
}

.20 {
  width: 305.834px;
  height: 111.082px;
}

.3 {
  width: 305px;
  height: 112px;
}

.4 {
  width: 305px;
  height: 112px;
}

.5 {
  width: 305px;
  height: 112px;
}

.6 {
  width: 305px;
  height: 112px;
}

.7 {
  width: 305px;
  height: 112px;
}

.8 {
  width: 305px;
  height: 112px;
}

.9 {
  width: 305px;
  height: 112px;
}

.10new {
  width: 305.8px;
  height: 111.1px;
}
.st0{fill:#fcdca4}
.st1{clip-path:url(#SVGID_2_);fill:#d72251}
.st2{clip-path:url(#SVGID_4_);fill:#d72251}
.st3{clip-path:url(#SVGID_6_)}
.st4,.st5{fill:#0c3846}
.st5{clip-path:url(#SVGID_8_)}

.12 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#0b3746}
.st1{fill:#fcdca4}
.st2{fill:#f0a732}
.st3{fill:#d72051}

.13 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#fcdca4}
.st1{fill:#f0a732}

.14 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#d72050}
.st1{fill:#f0a732}

.15 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#75a08a}
.st1{fill:#0b3746}

.16 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#fcdca4}
.st1{fill:#d72050}

.17 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#0b3746}

.18 {
  width: 305.8px;
  height: 112px;
}
.st0{fill:#f0a732}
.st1{fill:#d72050}
.st2{fill:#75a08a}
.st3{fill:#0b3746}

.19 {
  width: 305.8px;
  height: 112px;
}
.st0{opacity:.5}
.st0,.st1{fill:#d72050}
.st2{fill:url(#SVGID_1_)}
.st3{fill:#0b3746}

.20new {
  width: 305.8px;
  height: 111.1px;
}
.st0{fill:#fcdca4}
.st1{clip-path:url(#SVGID_2_);fill:#d72251}
.st2{clip-path:url(#SVGID_4_);fill:#d72251}
.st3{clip-path:url(#SVGID_6_)}
.st4,.st5{fill:#0c3846}
.st5{clip-path:url(#SVGID_8_)}

.10new {
  width: 305.8px;
  height: 176.9px;
}
.st0{clip-path:url(#SVGID_2_);fill:#d72251}
.st1{fill:#fcdca4}
.st2{clip-path:url(#SVGID_4_);fill:#0c3846}

.12 {
  width: 305.8px;
  height: 176.9px;
}
.st0{fill:#f0a732}
.st1{fill:#0b3746}
.st2{fill:#fcdca4}
.st3{fill:#d72050}
.st4{fill:#d72051}

.13 {
  width: 305.8px;
  height: 176.9px;
}
.st0{fill:#d72050}
.st1{fill:#fcdca4}
.st2{fill:#f0a732}
.st3{fill:#75a08a}

.14 {
  width: 305.8px;
  height: 176.9px;
}
.st0{fill:#0b3746}
.st1{fill:#75a08a}
.st2{fill:#fcdca4}

.15 {
  width: 305.8px;
  height: 176.9px;
}
.st0{fill:#fcdca4}

.16 {
  width: 305.8px;
  height: 176.9px;
}
.st0{fill:#0b3746}
.st1{fill:#fcdca4}

.18 {
  width: 305.8px;
  height: 176.9px;
}
.st0{fill:#75a08a}
.st1{fill:#0b3746}
.st2{fill:#d72050}
.st3{fill:#f0a732}
.st4{fill:#fcdca4}

.19 {
  width: 305.8px;
  height: 176.9px;
}
.st0{fill:#d72050}
.st1{fill:#fcdca4}
.st2{opacity:.7;fill:#0b3746}
.st3{opacity:.7;fill:#75a08a}
.st4{fill:#0b3746}

